*{
    margin: 0;
    padding: 0;
}

body{
    
    font-family: Verdana, Helvetica, sans-serif;
    font-weight: normal;
    overflow-x: hidden;
    height: auto;
    
}


button:hover{
    cursor: pointer;
}
.container{
    height: 100%;
    width: 70%;
    margin: auto;
}

header div.container{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    padding: 0px 60px;
}

header{
    height: 8vh;
    width: 100vw;
    background-color: black;
    color: white;
}

header ul, div.ftcontato ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

header ul li{
    padding-left: 5px;
}
header ul li a{
    text-decoration: none;
    color: white;
    font-size: 10px;
}

.btnComprar{
    background-color: darkred;
    border-radius: 2px;
    font-size: 16px;
    padding: 10px 24px;
    color: white;
    text-transform: uppercase;
    border: none;
}


article.principal{
    height: 92vh;
    width: 100vw;
    background-color: #3A393E;
    background: url(assets/imagem-alice-desktop.jpg) no-repeat;
    background-size: cover;
}

article.principal .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

div.principal-chamada{
    text-transform: uppercase;
    text-align: center;

    padding-bottom: 20px;
}

div.principal-chamada h1{
    font-size: 45px;
    font-weight: normal;
}

div.principal-chamada p{
    font-size: 14px;
    letter-spacing: 3px;
}

.subtitulo-principal{
    text-align: center;
    border-top: 1px solid white;
    padding: 10px 70px 40px 70px;
    font-size: 12px;
}

div.principal-produtos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1, div.principal-produtos h1{
    text-transform: uppercase;
    font-weight: normal;
    font-size: 28px;
}

.btnPlay{
    background-color: transparent;
    border: none;
    height: 60px;
    width: 60px;

    background: url(assets/centauro-exp-botao-play.png);
    background-size:cover;

    margin-top: 30px;
}

.btnEntenda{
    background-color: rgba(200, 200, 200, 0.58);
    border: 1px solid white;
    padding: 5px 25px;
    

    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;

    margin-top: 20px;
}


article.funcionamento{
    height: 70vh;
    width: 100vw;
    background-color: #FFFFFF;
    color: #3A393E;
    
}

article.funcionamento .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

article.funcionamento p.descricao{
    padding: 60px 200px 40px 200px;
    font-size: 16px;
}

article.funcionamento h4{
    padding: 20px 0;
}
article.funcionamento h5{
    margin-top: 20px;
}

article.funcionamento h4, article.funcionamento h5{
    text-transform: uppercase;
}

article.funcionamento div.organizer{
    box-sizing: content-box;
    width: 24%;
}

article.funcionamento div.detalhes{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

article.funcionamento div.detalhes div.organizer div{
    width: 100%;
    box-sizing: border-box;
    height: 40%;
    padding: 5px 30px;
}



article.funcionamento .detalhes img{
    width: 118px;
    height: 114px;
}

article.funcionamento .detalhes p{
    font-size: 14px;
    margin-top: 20px;
}

footer{
    height: 40vh;
    width:100vw;
    background-color:black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    position: static;
}

div.ftajuda, div.ftdownload{
    height: 70%;
    width: 49.8%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    
    background-color: #3A393E;

    text-transform: uppercase;
    color: white;
    font-size: 12px;
}

div.ftajuda div.item, div.ftdownload div.item{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
}

div.item div{
    margin-top:30px;
    text-align: center;
}

div.ftajuda{
    border-right: 1px solid gray;
}

div.ftajuda img{
    height: 30px;
    width: 30px;
}

div.ftdownload button{
    border: none;
    border-radius: 2px;
    margin-left: 5px;
}

div.ftdownload button img{
    height: 28px;
    width: 104px;
}

div.ftcontato, div.ftlogo{
    height: 15%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.ftcontato{
    background-color: #303135;
}


div.ftcontato ul li{
    padding-left: 20px;
}
div.ftcontato ul li a{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 12px;
}

div.ftlogo{
    background-color: black;
}

div.ftlogo img{
    height: 16px;
    width: 94px;
}


@media screen and (max-width:767px){

    header div.container{
        display: flex; 
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    
        box-sizing: border-box;
        padding: 0px 30px;

        width: 100%;
    }

    header ul{
        display: none;
    }

    

    


    article.principal{
        height: 92vh;
        width: 100vw;
        background-color: #3A393E;
        background: url(assets/imagem-alice-desktop.jpg) no-repeat;
        background-size: cover;
    }
    
   
    article.funcionamento p.descricao{
        padding: 20px;
        font-size: 14px;
    }

    article.funcionamento div.organizer{
        box-sizing: content-box;
        width: 100%;
    }

    div.ftajuda, div.ftdownload{
        width: 100%;
    }

    div.ftcontato ul li a{
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        font-size: 10px;
    }

   
}


@media screen and (min-width:767px) and (max-width:1024px){

    header div.container{
        display: flex; 
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    
        box-sizing: border-box;
        padding: 0px 30px;

        width: 100%;
    }

    header ul{
        display: none;
    }

    


    article.principal{
        height: 92vh;
        width: 100vw;
        background-color: #3A393E;
        background: url(assets/imagem-alice-desktop.jpg) no-repeat;
        background-size: cover;
    }
    
   
    article.funcionamento p.descricao{
        padding: 20px;
        font-size: 14px;
    }

    article.funcionamento div.organizer{
        box-sizing: content-box;
        width: 49%;
    }

    div.ftajuda, div.ftdownload{
        width: 49.5%;
    }

    div.ftcontato ul li a{
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        font-size: 12px;
    }

   
}

