*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    height: 100%;
    width: 60%;
    margin: auto;
}

header{
    height: 8vh;
    width: 100vw;
    background-color: red;
}
section{
    
}