*{
    margin: 0;
    padding: 0;
}

body{
    
    font-family: Verdana, Helvetica, sans-serif;
    overflow-x: hidden;
}
.container{
    height: 100%;
    width: 50%;
    margin: auto;
}

header div.container{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header{
    height: 8vh;
    width: 100vw;
    background-color: black;
    color: white;
}

header ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

header ul li a{
    text-decoration: none;
    color: white;
    font-size: 10px;
}

.btnComprar{
    background-color: darkred;
    border-radius: 2px;
    font-size: 12px;
    padding: 10px 24px;
    color: white;
    text-transform: uppercase;
    border: none;
}

section{
    
}

article.principal{
    height: 92vh;
    width: 100vw;
    background-color:blue;
}

article.funcionamento{
    height: 60vh;
    width: 100vw;
    background-color: blueviolet;
}

footer{
    height: 40vh;
    width:100vw;
    background-color:salmon;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.ftajuda, div.ftdownload{
    height: 70%;
    width: 49.5%;
    border: 1px solid red;
}

div.ftcontato, div.ftlogo{
    height: 15%;
    width:100%;
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.ftlogo{
    background-color: black;
}

div.ftlogo img{
    height: 16px;
    width: 94px;
}


