body{
    font-family: Helvetica, sans-serif;
}

.dark{
    background-color: #2B313E;
    color: #fcfcfd;
}

.light{
    background-color: #fcfcfd;
    color: #2B313E;
}

section h3 {
    font-size: 1.7em;
}

header li {
    display: inline-block;
}

header li a {
    color: #99A0B0;
    font-weight: lighter;
}

.identity {
    background-color: #4285F4;
    color: #FFF;
}

.identity h1 {
    font-size: 2.5em;
}

.identity h2 {
    font-size: 1.5em;
    font-weight: 300;
}

.projects li {
    background-color: #6F768B;
}

.projects li a {
    font-size: 1.3em;
    color: #fff
}

.projects li p {
    color: #d2d6e2;
}

#sobre p.bio {
    font-size: 1.5em;
    color: #4285F4;
}

#sobre img{
    width: 200px;
}

#contato li {
    display: inline-block;

}

p{
    font-size: 14px;
}




